<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Task Management Website</title>
        <link rel="stylesheet" type="text/css" href="stylesheets/homepage.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href=https://hmwidgets.web.app/css/app.css rel=stylesheet>
        <script src=https://hmwidgets.web.app/js/app.js></script>
         <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, viewport-fit=cover">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="1054842039570-f4qei6cjtp377m32ulmjo0jucpu0qa3l.apps.googleusercontent.com">
        <script defer src="javascripts/home.js"></script>
    </head>
    <body >
        <div id="ui">
        	<nav class="navbar app">
                <p>Logo Here</p>
                <div class="g-signin2" style="display:none;"></div>
                <button type="button" v-on:click="logout()">Log out</button>
        	</nav>

        	<nav class="navbar board">
        	   <h4> Task Management System </h4>
        	   <div class="vl"></div>
        	   <button type="button" id="Profile"  v-on:click="view = 'profile';" >Profile</button>
        	   <button type="button" id="preferred" v-on:click="view = 'prefer';" v-if='button_admin_user == false'>Preferred Task</button>
        	   <button type="button" id="availability" v-on:click="view = 'availability';" v-if='button_admin_user == false'>Set Availability</button>
        	   <!--<button type="button" id="availability" v-on:click="view = 'assign_task';" v-if='button_admin_user == true'>Assign Task</button> -->
        	   <button type="button" id="availability" v-on:click="view = 'set_task_preference';" v-if='button_admin_user == true'>Set Task</button>
        	</nav>

            <main id="admin" class="wrapper-list" v-if="view == '1'" >
                <!-- things do -->
                <div class="inner-list" id="inner-list-01" id="dragTodo">
                	 <center><header>Tasks to do</header></center>

                    <draggable group="a" id="first" data-source="juju" class="list-group"  >

                    	<div style='background-color:ghostwhite;' id="taskCard" v-for="(post,index) in posts" :key="post.title"  > <!-- task goes here -->

                        	<span class= "tag" style="color:black;"> {{ post.title }} </span>
                        	<br />
                        	<span class="content">{{ post.content }}</span>
                        	<br />
                        	<p style="color:black; font-style:italic; font-weight=bold; margin=0px;">Due: {{post.dueDate}}</p>
                        	<p style="color:black; font-style:italic; font-weight=bold; margin=0px;">Member: {{post.member}}</p>
                        	<input type="button" id="start_task" value="start" v-on:click="start_doing(index)"></input>

                        </div>
                        <div id="taskCard"></div>
                    </draggable>

                </div>

                <!-- things doing -->
                <div class="inner-list">
                    <center><header>Tasks doing</header></center>

                    <draggable group="a"  class="list-group" id="second" >
                        <div style='background-color:ghostwhite;'  id="taskCard" v-for="(post,index) in postsTodo" :key="post.title" >

                        	<span class= "tag" style="color:black;"> {{ post.title }} </span>
                        	<br />
                        	<span class="content">{{ post.content }}</span>
                        	<br />
                        	<p style="color:black; font-style:italic; font-weight=bold; margin=0px;">Due: {{post.dueDate}}</p>
                        	<p style="color:black; font-style:italic; font-weight=bold; margin=0px;">Member: {{post.member}}</p>

                        	<input type="button" id="start_task" value="done" v-on:click="start_done(index)"></input>

                        </div><!-- task goes here -->
                    </draggable>

                    <div id="taskCard"></div>
                </div>

                <!-- things done -->
                <div class="inner-list">
                    <center><header>Tasks done</header></center>

                    <draggable group="a"  class="list-group"  id="third">
                        <div  style='background-color:ghostwhite;' id="taskCard" v-for="(post,index) in postsDone" :key="post.title"  >

                            <span class= "tag" style="color:black;"> {{ post.title }} </span>
                        	<br />
                        	<span class="content">{{ post.content }}</span>
                        	<br />
                        	<p style="color:black; font-style:italic; font-weight=bold; margin=0px;">Due: {{post.dueDate}}</p>
                        	<p style="color:black; font-style:italic; font-weight=bold; margin=0px;">Member: {{post.member}}</p>

                        	<input type="button" id="start_task" value="delete" v-on:click="start_delete(index)"></input>
                        </div><!-- task goes here -->
                    </draggable>

                    <div id="taskCard"></div>
                </div>

            </main>


            <!-- MEMBER -->
            <main id="user" class="wrapper-list" v-if="view == '0'">

                <!-- things do -->
                <div class="inner-list" id="inner-list-01" >
                	 <center><header>Tasks to do</header></center>

                    <draggable group="a" id="first"  class="list-group">
                    	<div  style='background-color:ghostwhite;' id="taskCard" v-for="(post,index) in posts" :key="post.title" > <!-- task goes here -->

                        	<span class= "tag" style="color:black;"> {{ post.title }} </span>
                        	<br />
                        	<span class="content">{{ post.content }}</span>
                            <br />
                            <p style="color:black; font-style:italic; font-weight=bold; margin=0px;">Due: {{post.dueDate}}</p>
                            <p style="color:black; font-style:italic; font-weight=bold; margin=0px;">Member: {{post.member}}</p>

                            <input type="button" id="start_task" value="start" v-on:click="start_doing(index)"></input>
                    	</div>
                    </draggable>

                    <div id="taskCard"></div>

                </div>

                <!-- things doing -->
                <div class="inner-list" id="second">
                    <center><header>Tasks doing</header></center>

                    <draggable group="a"  class="list-group"   >
                        <div style='background-color:ghostwhite;'  id="taskCard" v-for="(post,index) in postsTodo" :key="post.title" >
                            <span class= "tag" style="color:black;"> {{ post.title }} </span>
                        	<br />
                        	<span class="content">{{ post.content }}</span>
                        	<br />
                            <p style="color:black; font-style:italic; font-weight=bold; margin=0px;">Due: {{post.dueDate}}</p>
                            <p style="color:black; font-style:italic; font-weight=bold; margin=0px;">Member: {{post.member}}</p>
                            <input type="button" id="start_task" value="done" v-on:click="start_done(index)"></input>
                        </div><!-- task goes here -->

                    </draggable>

                    <div id="taskCard"></div>
                </div>


                <!-- things done -->
                <div class="inner-list">
                    <center><header>Tasks done</header></center>

                    <draggable group="a" class="list-group"  id="third">
                        <div style='background-color:ghostwhite;'  id="taskCard" v-for="(post,index) in postsDone" :key="post.title" >
                            <span class= "tag" style="color:black;"> {{ post.title }} </span>
                        	<br />
                        	<span class="content">{{ post.content }}</span>
                        	<br />
                            <p style="color:black; font-style:italic; font-weight=bold; margin=0px;">Due: {{post.dueDate}}</p>
                            <p style="color:black; font-style:italic; font-weight=bold; margin=0px;">Member: {{post.member}}</p>
                            <input type="button" id="start_task" value="delete" v-on:click="start_delete(index)"></input>
                        </div><!-- task goes here -->
                    </draggable>

                    <div id="taskCard"></div>
                </div>
            </main>

            <main style="background-color:#ADD8E6"  v-if="view == 'set_task_preference'" >

                <div class="manage">
                    <button v-on:click="view = '1';">Back to Main</button><br />
                </div>

                <div style="float:left; margin:10px;"class="btn-div" id="btn-add"> <!-- button add more task here -->
                    <button class="btn button"  v-on:click="addTaskType();">Creat Task</button>
                	<textarea  v-model="tTitle" id="post-title" rows="5" cols="30" placeholder="Title"></textarea> <!-- v-model to take the input -->
                    <textarea  v-model="tContent" id="post-title" rows="15" cols="20" placeholder="Content"></textarea> <!-- v-model to take the input -->
                </div>

                <div class="prefer2">
                    <div id="preferred-table" v-for=" (task, index) in task_type" v-bind:id="index" :key="index" >
                        <h3>{{ task.type_title }}</h3>
                        <p id="comment">{{ task.type_content }}</p>
                        <span class="date">Start: {{task.date_begin}}</span>
                        <br/>
                        <span class="date">End: {{task.date_end}}</span>

                        <select>
                            <option v-for="(mem,index) in member">{{mem.first_name}} {{mem.last_name}}</option>
                        </select>

                        <span id="dateBtn"><input type="button" id="index" value="delete" v-on:click="removeTaskType(index);"></input></span>
                        <!--<button class="btn button"  v-on:click="addTask(index);">Send Task</button>-->
                        <hr />
                    </div>
                </div>

                 <div class="popup-form">
                    <button class="open-button" onclick="openForm2()">Set Date</button>
                    <div class="form-popup" id="myForm">
                        <div class="form-container">
                            <h1>Due Date</h1>
                            <label for="date"><b>Set Due Date</b></label>
                            <input type="date" id="setdate" v-model="pDueDate"  name="date" >
                            <h1>Start Date</h1>
                            <label for="date"><b>Set Start Date</b></label>
                            <input type="date" id="setdate" v-model="tBeginDate"  name="date" >
                            <button type="button" class="btn cancel" onclick="closeForm2()">Close</button>
                        </div>
                     </div>
                </div>

            </main>

            </main>

            <main class="my-profile-wrapper" style="background-color:#ADsD8E6" v-if="view == 'profile'" >

                <div class="profile-inner-1">
                    <a href="homepage.html"><input type="button" id="index" value="Back to Main" v-on:click="location.href='homepage.html'"></input></a>
                    <div class="profile-table">

                        <div id="left">
                            <button id="newBtn" v-on:click="see = 'profile-info';">Profile</button><br />
                            <button id="newBtn" v-on:click="see = 'profile-contact';">Contact</button><br />
                            <button id="changeBtn" v-on:click="changeprofile()">Update</button><br />
                        </div>

                        <div id="right">
                            <div id="profile-div-profile " v-if="see=='profile-info'">

                                <div class="x" id="firstname">
                                    <p>First Name</p>
                                    <input target="abc" type="text" id="A" v-model="myFirstName" placeholder="Enter First Name ">
                                </div>

                                <div class="x" id="lastname">
                                    <p>Last Name</p>
                                    <input target="abc" type="text" id=B v-model="myLastName" placeholder="Enter Last Name ">
                                </div>

                            </div>

                            <div id="profile-div-contact" v-if="see== 'profile-contact'" >

                                <div class="x" id="contact">
                                    <p>Contact Number</p>
                                    <input  target="abc" type="text" id="H" v-model="myContact" placeholder="Enter Contact Number">
                                </div>

                                <div class="x" id="email">
                                    <p>Gmail address</p>
                                    <input  target="abc"  type="text" id="I" v-model="myGmail" placeholder="Enter Email">
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
                <div class="profile-inner-2">

                    <div class="profile-card">
                        <img src="images/background-3138516_1280.jpg" alt="John" style="width:100%">
                        <div id="hr"></div>
                        <div id="hr"></div>
                        <div style="background-color:white;" >
                          <h1>{{firstname}} {{lastname}}</h1>
                          <p class="title">Email: {{mail}}</p>
                          <p class="title">Contact me: {{contact}}</p>
                          <div style="margin: 24px 0, margin:0px;">
                                <a id="P" ><i class="fa fa-dribbble"></i></a>
                                <a id="P" ><i class="fa fa-twitter"></i></a>
                                <a id="P" ><i class="fa fa-linkedin"></i></a>
                                <a id="P" ><i class="fa fa-facebook"></i></a>

                          </div>
                        </div>
                        <a href="mailto: tonynguyen0403@gmail.com"> <button id="profile-btn" style="margin:0px; width:100%;">Contact</button> </a>
                    </div>
                </div>
            </main>


            <main  style="background-color:#ADD8E6" v-if="view == 'prefer'">

                <div class="prefer">
                    <button v-on:click="view = '1';">Back to Main</button><br />
                        <h1>Your Assigned Tasks</h1>
                </div>

                <div class="prefer2">
                    <div id="preferred-table" v-for=" (prefer, index) in user_task_preference" v-bind:id="index" :key="index" >

                        <h3>{{ prefer.title }}</h3>
                        <p id="comment">{{ prefer.content }}</p>
                        <p id="comment">{{ prefer.fname }} {{prefer.lname}}</p>
                        <span class="date">Start: {{prefer.date}}</span>

                        <button class="btn button"  v-on:click="addTask(index);">Accept</button>
                       <!-- <span id="dateBtn"><input type="button" id="index" value="Decline" ></input></span> -->

                        <hr />
                    </div>
                </div>

            </main>

            <main class="availability" style="background-color:#ADD8E6" v-if="view == 'availability'">

                <div class="calendar-table" >
                    <div id="table1">
                         <button v-on:click="view = '0';">Go back main</button><br />
                         <availability-calendar
                                hotel=c8bd115893a7c66bd7c11808834ae830
                                room-type=e11250be-20f4-40d0-8594-c67df7b57d65
                                months=2
                                max-months=12
                                locale=de>
                         </availability-calendar>
                    </div>

                    <div id="table2" style="margin-top:30px">
                        <h2 style="color:blue">MEMBER AVAILABLE DATES</h2>
                        <div id="updateDate">
                            <div id="dateCard" id="index" v-for=" (date, index) in pDate" >
                                <p class="myname">{{date.fname}} {{date.lname}}</p>
                                <p class="mydate">Available date: {{ date.date }}</p>
                                <span id="dateBtn"><input type="button" id="index" value="delete" v-on:click="removeDate(index);"></input></span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="popup-form">

                    <button class="open-button" onclick="openForm()">Set Availability</button>
                    <div class="form-popup" id="myForm">

                      <div class="form-container">

                            <h1>Availability</h1>

                            <label for="date"><b>Member's Availability Date</b></label>
                            <input type="date" id="setdate" v-model="pDateAvailable"  name="date" >

                            <button type="button" class="btn" v-on:click="setDate()">Set Date</button>
                            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>

                        </div>
                    </div>
                </div>

            </main>


        </div><!--UI class-->

        <script>
                function openForm() {
                document.getElementById("myForm").style.display = "block";
                }

                function closeForm() {
                    document.getElementById("myForm").style.display = "none";
                }
                function openForm2() {
                    document.getElementById("myForm").style.display = "block";
                }

                function closeForm2() {
                    document.getElementById("myForm").style.display = "none";
                }

        /*function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
            console.log('User signed out.');
        });}*/
        </script>

        <!--<script src="https://cdn.jsdelivr.net/npm/mailtoui@1.0.3/dist/mailtoui-min.js"></script>-->

    </body>
</html>
